.App {
  text-align: center;
}

header {
 background-color:#C3DBE6 ;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logo img {
  max-width: 200px;
  max-height: 100px;
}

.sign-out {
  display: flex;
  align-items: center;
  margin-left: 1350px;
  color: rgb(3, 133, 239);
  text-decoration: underline;
  position: relative;
  top: -50px;
}

.sign-out button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
  padding: 0;
}

.risk-details {
  font-family: 'ITC Franklin Gothic';
  font-size: 50px;
  margin-bottom: 20px;
  margin-left: -115px;
}

.risk-table {
  margin-bottom: 20px;
  margin-left: 300px;
  margin-right: auto;
}

.risk-table td {
  padding: 10px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.icon.correct {
  background-color: green;
}

.icon.wrong {
  background-color: red;
}

.update-result-button {
  padding: 10px 20px;
  background-color: #5286BC;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: -100px;
}

.rejected-logo {
  margin-top: 20px;
}

.rejected-logo img {
  max-width: 300px;
  max-height: 300px;
  margin-left: 950px;
  position: relative;
  top: -330px;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 2px solid black; 
  padding: 8px;
}

th {
  background-color: #C3DBE6; 
}
